<%= form_tag home_index_path do %>
     <h1 class= "tengah"> Music Editing</h1>
     <div class="form-group mail"></br>
      <label for="inputEmail" class="col-lg-2 control-label" style='color:blue'>Email</label>
      <div class="col-lg-10">
      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
     </div>
    </div>
       <div class="form-group mail">
         <label for="inputPassword" class="col-lg-2 control-label" style='color:blue'>Password</label>
        <div class="col-lg-10 mail">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
     </div>
        <div class="form-group mail">
         <div class="col-lg-offset-2 col-lg-10">
          <div class="check mail" style='color:blue'
           <div class="checkbox">
           <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      </div>
    </div>
  </div>
  <div class="form-group mail">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
      <button type="submit" class="btn btn-primary">Sign up</button>

    </div>
  </div> 
</nav>
<% end %>
 <body style='background-image:url(/assets/musical.jpg);'>