<%= form_tag home_index_path do %>
  <div class="row">
    <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <%= image_tag '/assets/musik.jpg' %>
    </a>
    </div>
  </div>
     <h1 class= "tengah"> Music Editing</h1>
     <div class="form-group mail"></br>
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
     </div>
    </div>
       <div class="form-group mail">
         <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10 mail">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
     </div>
        <div class="form-group mail">
         <div class="col-lg-offset-2 col-lg-10">
          <div class="check mail"
           <div class="checkbox">
           <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      </div>
    </div>
  </div>
  <div class="form-group mail">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </div> 
</nav>
<p>
  
  </p>
<% end %>
