<% if @song.errors.present? %>
  <ul>
  	<% @song.errors.full_messages.each do |message| %>
  	<li><%= message %></li>
   <% end %>
  </ul>
<% end %>


<%= form_for @song do |f| %>
<table>
	<tr>
		<td> Title </td>
		<td>:</td>
		<td><%= f.text_field :title %></td>
	</tr>

	<tr>
      <td><div class="form-group">
      <label for="exampleInputFile">File upload</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example:mp3 or mp4</p>
  </td>
    </div>

	</tr>

	<tr>
		<td colspan='3'><%= f.submit %></td>
	</tr>
</table>
<% end %>