.kanan
{
	margin-right: 40px;
	float: right;
}
	
.pic
{

	width: 100px; 
	margin: 0;
	border: 5px ; 
}
.home
{
	width: 800px; 
	padding: auto;
}

ul.album-list {
	li {
		float: left;
		list-style-type: none;
	}
}